<!doctype html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Justin Lam">
    <title>Diary of a Levain</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css' rel='stylesheet'
        type='text/css'>

    <link rel="stylesheet" type="text/css" href="static/css/metricsgraphics.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/demo.css">

    <!-- Favicons -->
    <meta name="theme-color" content="#563d7c">

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script src='https://d3js.org/d3.v4.min.js' charset='utf-8'></script>
    <script src="static/js/metricsgraphics.min.js"></script>
</head>

<body class="d-flex flex-column h-100">
    <!-- Begin page content -->
    <main role="main" class="flex-shrink-0">
        <div class="container">
            <h1 class="mt-5">Diary of a Levain</h1>
            <p class="lead">Sensor data monitored during the fermentation of sourdough starter.</p>

            <div class="row">
                <div class="col">
                    <select class="form-control" id="inputSessionId">
                        {% for id, start_time, duration in sessions %}
                            <option value={{ id }}>{{ start_time }}, {{ duration }} mins</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-1 ">
                    <form action="/download_csv" method="get">
                        <button class="btn btn-secondary-outline float-right ">
                            <span class="fa fa-download" aria-hidden="false"></span>
                        </button>
                    </form>
                </div>
            </div>

            <div id="chart-distance"></div>
            <div id="chart-temperature"></div>
            <div id="chart-humidity"></div>

        </div>
    </main>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <span class="text-muted">© 2020 Justin Lam</span>
        </div>
    </footer>

    <!-- Custom application -->
    <script src="static/js/plots.js"></script>

</body>

</html>
